<?xml version="1.0" encoding="utf-8"?>
<web-app>
  <!--  以下是web.xml文件新添加的内容 -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>handle.data.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>handle.data.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upFile</servlet-name>
    <servlet-class>handle.data.UpFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upFile</servlet-name>
    <url-pattern>/upFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lottery</servlet-name>
    <servlet-class>moon.sun.Lottery_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lottery</servlet-name>
    <url-pattern>/lottery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleForward</servlet-name>
    <servlet-class>moon.sun.HandleForward_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleForward</servlet-name>
    <url-pattern>/handleForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personOne</servlet-name>
    <servlet-class>moon.sun.PersonOne_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personOne</servlet-name>
    <url-pattern>/personOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personTwo</servlet-name>
    <servlet-class>moon.sun.PersonTwo_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personTwo</servlet-name>
    <url-pattern>/personTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>computeSum</servlet-name>
    <servlet-class>handle.data.ComputeSum_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>computeSum</servlet-name>
    <url-pattern>/computeSum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addMenu</servlet-name>
    <servlet-class>handle.data.HandleMenu_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMenu</servlet-name>
    <url-pattern>/addMenu</url-pattern>
  </servlet-mapping>
</web-app>
